{% extends "issues/base.html" %}
{% load static %}
{% load stricter_templates %}
{% load humanize %}

{% block tab_content %}

<div class="flex">
    <div class="overflow-hidden">
        <div class="italic">{{ event.ingested_at|date:"j M G:i T" }} (Event {{ event.digest_order|intcomma }} of {{ issue.digested_event_count|intcomma }} total{% if q %} — {{ event_qs_count|intcomma }} found by search{% endif %})</div>
    </div>

    <div class="ml-auto flex-none">
        <div class="flex place-content-end">
            {% include "issues/_event_nav.html" %}
        </div>
    </div>
</div>


{# NOTE if we store event.grouper on the event, we could also show that here #}

<div>
    <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
        <div>
            <h1 id="key-info" class="text-2xl font-bold">Key info</h1>
        </div>
        <div class="ml-auto"></div>
        <div class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
        {% for key, value in key_info %}
            <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div>
            </div>
        {% endfor %}
    </div>
</div>

{% if logentry_info %}
<div>
    <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
        <div>
            <h1 id="logentry" class="text-2xl font-bold">Log Entry</h1>
        </div>
        <div class="ml-auto"></div>
        <div class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
        {% for key, value in logentry_info %}
            <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% if parsed_data.user %}
    {# note: in the (September 2024) sentry.io interface, user info is displayed under 'contexts', but in the data it simply lives top-level as #}
    {# is implied by parsed_data.user -- I checked in a recent (September 2024) event.schema.json #}
<div>
    <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
        <div>
            <h1 id="user" class="text-2xl font-bold">User</h1>
        </div>
        <div class="ml-auto"></div>
        <div class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
        {% for key, value in parsed_data.user|items %}
            <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if parsed_data.request %}
<div>
    <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
        <div>
            <h1 id="request" class="text-2xl font-bold">Request</h1>
        </div>
        <div class="ml-auto"></div>
        <div class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
        {% for key, value in parsed_data.request|items %}
            {% if key != "headers" and key != "env" %}{# we deal with these below #}
                <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                    <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                    <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div>{# forloop.last doesn't work given the if-statement; we can fix that by pre-processing in the view #}
                </div>
            {% endif %}
        {% endfor %}
        {% if parsed_data.request.headers %}
        <div>
            <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
                <div>
                    <h3 class="font-bold">REQUEST HEADERS</h3>
                </div>
                <div class="ml-auto"></div>
                <div class="pr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
                {% for key, value in parsed_data.request.headers.items %}
                <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %} border-dotted">
                    <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                    <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %} {# end if parsed_data.request.headers #}


        {% if parsed_data.request.env %}
        <div>
            <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
                <div>
                    <h3 class="font-bold">REQUEST ENV</h3>
                </div>
                <div class="ml-auto"></div>
                <div class="pr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
                {% for key, value in parsed_data.request.env.items %}
                <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %} border-dotted">
                    <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                    <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %} {# end if parsed_data.request.env #}
    </div>
</div>


{% endif %}{# end if parsed_data.request #}


{% if deployment_info %}
<div>
    <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
        <div>
            <h1 id="deployment" class="text-2xl font-bold">Deployment</h1>
        </div>
        <div class="ml-auto"></div>
        <div class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
        {% for key, value in deployment_info %}
            <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if contexts %}
<div>
    <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
        <div>
            <h1 id="runtime" class="text-2xl font-bold">Contexts</h1>
        </div>
        <div class="ml-auto"></div>
        <div class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
        {% for context_key, context in contexts|items %}
            <h3 class="font-bold mt-2">{{ context_key|upper }}</h3>
            {% for key, value in context|items %}
                <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                    <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                    <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% comment %}
earlier I said about "tracing": I don't believe much in this whole business of tracing, so I'm not going to display the associated data either

now that we "just display all contexts" this is no longer true... some of the feeling persists, but I don't think 
that I'm so much anti-tracing that I want specifically exclude it from a generic loop. The data's there, let's just
show it (in a non-special way)
{% endcomment %}

{% comment %}
commented-out like it's 1999.
this is now part of the more general "contexts" handling right above this section.
the fact that we commented-out rather than clobbered reveals a small amount of doubt about whether this is the way.

{% if parsed_data.contexts.runtime %}
    {# sentry gives this prime location (even a picture)... but why... it's kinda obvious what you're working in right? Maybe I could put it at the top of the modules list instead. And check if there's any other relevant info in that runtime context (RTFM) #}
    <h1 id="runtime" class="text-2xl font-bold">Runtime</h1>
            
    <div class="mb-6">
        {% for key, value in parsed_data.contexts.runtime|items %}
            <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endcomment %}

{% if parsed_data.extra %}
<div>
    <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
        <div>
            <h1 id="extra" class="text-2xl font-bold">Extra</h1>
        </div>
        <div class="ml-auto"></div>
        <div class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
        {% for key, value in parsed_data.extra|items %}
            <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div> {# the actual value may be a dict/list, but we'll just print it as a string; this is plenty of space for something as (hopefully) irrelevant #}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% if event.get_tags %}
<div>
    <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
        <div>
            <h1 id="tags" class="text-2xl font-bold">Tags</h1>
        </div>
        <div class="ml-auto"></div>
        <div class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
        {% for tag in event.get_tags %}
            <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ tag.value.key.key }}</div>
                <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ tag.value.value|linebreaks }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% if parsed_data.sdk %}
<div>
    <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
        <div>
            <h1 id="sdk" class="text-2xl font-bold">SDK</h1>
        </div>
        <div class="ml-auto"></div>
        <div class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="js-frame-details  {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
        {% for key, value in parsed_data.sdk|items %}
            <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div> {# the actual value may be a dict/list, but we'll just print it as a string; this is plenty of space for something as (hopefully) irrelevant as the SDK #}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if parsed_data.modules %}
<div>
    <div class="flex pl-4 pt-2 pb-2 border-t-2 bg-slate-100 border-slate-400 cursor-pointer" onclick="toggleFrameVisibility(this)"> {# per frame header div #}
        <div>
            <h1 id="modules" class="text-2xl font-bold">Modules</h1>
        </div>
        <div class="ml-auto"></div>
        <div class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 rotate-180 js-chevron transition-all {% if frame.raise_point %}rotate-180{% endif %}">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div data-collapsed="true" style="height: 0px" class="js-frame-details  overflow-hidden {% if frame.in_app %}js-in-app{% endif %} border-slate-400 overflow-hidden transition-all js-raising-frame"> 
        {# we have observed that (emperically) the keys in most of the above are sorted in some kind of meaningful way from important to non-important #}
        {# however, for modules I'd rather just have an alphabetical list. #}
        {% for key, value in parsed_data.modules|sorted_items %}
            <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                <div class="w-1/4 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ key }}</div>
                <div class="w-3/4 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ value|linebreaks }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/issue_stacktrace.js' %}"></script>
{% endblock %}
